
 /* .error{
  border: 2px solid red;
}
.input.success{
 border: 2px solid #05e005;
} */
.error-message{
 color: red;
}
.main{
   display: grid;
   justify-content: center;
   align-items: center;
    height: 100vh;
}
.inp{
   width: 800px;
   height: 30px;
}
.font{
  text-align: start;
  font-style: oblique;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  font-size:x-large;
}
button{
 padding: 2px;
 margin: 10px;
 background-color: blue;
 color: bisque;
 width: 100px;
}